.bordered{
    border: 3px;
    border-color: gray;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    
}

.svgCanvas{
    background-color:silver;
}

.hole{
    fill: black;
    stroke-width: 0px;
}

.hole:hover{
    fill: orangered;
    stroke:crimson;
    stroke-width: 10px;
}

.borderedTable td{
    border: 2px;
    border-color: gray;
    border-style:solid;
    padding: 10px;
}
.borderedTable th{
    border: 2px;
    border-color: gray;
    border-style: solid;
    padding: 10px;
}

.svgPath{
    fill: gray;
    stroke: darkslategray;
    stroke-width: 4px;
}

.copper{
    fill:darkgoldenrod;
    stroke: darkgoldenrod;
    stroke-width: 100px;
}